*{margin: 0; padding: 0;}
body, html{
    width: 100%;
    height: 100%;
}
.menu-top nav.navbar.navbar-light.bg-faded{
    height: 100px;
    background: white;
} 
.menu-top a.navbar-brand{
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
}
a.navbar-brand span.logo{
    color: red;
}
li.nav-item{
    margin: 0 17px;
}
.menu-top a.nav-link{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: #1010;
    line-height: 65px;
}
.menu-top a.nav-link:hover{
    color: black !important;
}
.info-block-1{
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}
.info-block-1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e4555b;
    z-index: 1;
}
.info{
    z-index: 2;
    position: relative;
    padding-top: 150px;
}
.info img{
    border-radius: 50%;
    width: 175px;
    margin-bottom: 50px;
}
.info h2{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.info p{
    color: black;
    font-size: 16px;
    line-height: 23px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}
.info a.hire-button.btn.btn-primary{
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}
@media(max-width:576px){
    *{}
    a.navbar-brand{
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.nav.navbar-nav.float-xs-right{
        float: none !important;
        text-align: center;
    }
    li.nav-item{
        display: inline;
        margin: 0 0;
        float: none !important;
    }
    a.nav-link{
        display: inline !important;
        line-height: 30px !important;
    }
    
}